# Hide compile info in src/
xgpy/sample.py
xgpy/__pycache__
xgpy.egg-info/

# Hide build info in root directory
build/
.pytest_cache/
__pycache__

# Hide test compile info
tests/__pycache__

# Hide docs compile info
docs/source/_*/
